.megaMenu {
  padding: 3rem;
  background-color: #fff;
  color: #000;
  width: 100%;
  position: fixed;
  top: 60px;
  right: 0;
  height: calc(100dvh - 60px);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
}
.megaMenu.active {
  transform: translateX(0%);
}
.menuHeading {
  color: #757575;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  margin-bottom: 1rem;
}

@media (min-width: 768px) {
  .megaMenu {
    padding: 0 1.5rem;
    position: relative;
    top: unset;
    right: unset;
    height: auto;
    transition: transform 0s;
    transform: translateX(0%);
  }
  .menuHeading,
  .mainMenuItem svg {
    display: none;
  }
  .mainMenuItem {
    padding: 0.8rem 2rem;
  }
  .mainMenuList {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-bottom: 1rem;
  }
  .mainMenuList li:first-child .mainMenuItem {
    padding-left: 0;
  }
}
